body{
    margin: 20px;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #ffffff
}
.container{
}
#nome{
}
#ultima_doacao{
    
}
#email{
  
}
#cidade{
    
}
#confirmar_email{
    
}
#senha{
    

}
#tipo_sanguineo{
    
}
#confirmar_senha{
    
}

#button{
    
}