body{
    padding: 20px;
    margin: 20px;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #F7F7F7; 
     
}

.container{
    background-color:#ffffff;
    position: absolute;
    top: 5%;
    bottom: 10%;
    left: 37%;
    width: 400px;
    height: 700px;
    box-shadow: 0px 3px 6px #000000;
    border-radius: 50px;
}
img{
    width: 50%;
    height: 50%;
}

    

#nome{
  font-size: 20px;
  text-align: center;
  position: relative;
  width: 80%;
  height: 6%;
  border-radius: 16px;
}
#ultima_doacao{
    font-size: 20px; 
    text-align: center; 
    position: relative;
    width: 80%;
    height: 6%;
    border-radius: 16px;  
}
#email{ 
  font-size: 20px;
  text-align: center;
  position: relative;
  width: 80%;
  height: 6%;
  border-radius: 16px;
}
#cidade{
    font-size: 20px;
    text-align: center;
    position: relative;
    width: 80%;
    height: 6%;
    border-radius: 16px;
}
#confirmar_email{
    font-size: 20px;
    text-align: center;
    position: relative;
    width: 80%;
    height: 6%;
    border-radius: 16px;
}
#endereco{
    font-size: 20px;
    text-align: center;
    position: relative;
    width: 80%;
    height: 6%;
    border-radius: 16px;
}
#telefone{
    font-size: 20px;
    text-align: center;
    position: relative;
    width: 80%;
    height: 6%;
    border-radius: 16px;
}
#password{
    font-size: 20px;
    text-align: center;
    position: relative;
    width: 80%;
    height: 6%;
    border-radius: 16px;

}
#tipo_sanguineo{
    font-size: 20px;
    text-align: center;
    position: relative;
    width: 80%;
    height: 6%;
    border-radius: 16px;
}
#confirm_password{
    font-size: 20px;
    text-align: center;
    position: relative;
    width: 80%;
    height: 6%;
    border-radius: 16px;
}

#button{
    font-size: 20px;
    text-align: center;
    margin-top: 5px;
    position: relative;
    width: 80%;
    height: 6%;
    border-radius: 16px;   
}