body {margin: 0;}

h1 {
  font-size: 50px;
  margin-top: 50px;
}

ul.topnav {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #f6f6f6;
}

ul.topnav li {float: left;}

ul.topnav li a {
  display: block;
  color: rgb(0, 0, 0);
  text-align: center;
  padding: 14px 15px;
  text-decoration: none;
  right: 20px;
}

ul.topnav li a:hover:not(.active) {
  background-color: rgb(224, 222, 222);
}

ul.topnav li a.active {
  background-color: #c7c7c7;
}

ul.topnav li.right {
  float: right;
  margin-left: 200px;
}
ul.topnav li.inicio {
  margin-left: 230px;
}

.redrumLogo {
  margin-top: 12px;
  width: 50px;
}

.notificacaoLogo {
  width: 50px;
}

.bancosLogo {
  width: 50px;
}

.faqLogo {
  width: 50px;
}

.inicioLogo {
  width: 50px;
}

.perfilLogo {
  width: 50px;
}

.inputPesquisar {
  margin-top: 20px;
    display: inline-block;
    float: initial;
    width: 100%;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    line-height: 1.5;
    color: #495057;
    background-color: rgb(209, 208, 208);
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.btnPesquisar {
    display: inline-block;
    font-weight: 400;
    margin-top: 34px;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border: 1px solid #04AA6D;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: 0.25rem;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.btn-outline-success {
  color: #28a745;
  background-color: transparent;
  background-image: none;
  border-color: #28a745;
}

@media screen and (max-width: 600px) {
  ul.topnav li.right, 
  ul.topnav li {float: none;}
}
@media screen and (max-width :1800px){
  .bancosLogo{
    width: 30px;
  }
  ul.topnav li.inicio{
    margin-left: 77px;
  }
  .redrumLogo{
    width: 40px;
  }
 
  
  .btnPesquisar{
    width: 100%;
  }
  .inicioLogo{
    width: 30px;
  }
  .notificacaoLogo{
    width: 30px;
  }
  .perfilLogo{
    width: 30px;
  }
  .faqLogo{
    width: 30px;
  }
  .inputPesquisar{
    width:80% ;
  
  }


}